<h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">{{ block|title }}</h1>
<div class="w-full mb-4">
  <div class="w-64 h-1 py-0 mx-auto my-0 rounded-t opacity-60 gradient"></div>
</div>
<div class="w-full mb-4">
  <p class="mx-auto leading-relaxed text-gray-700 max-w-9/10 lg:w-2/3 text-md">
    {{ block.teaser|default(block|excerpt(200)) }}
  </p>
</div>
