<!--header-->
<header
    id="header" class="fixed top-0 z-30 w-full text-white"
                x-data="{ menuOpen: false, atTop: true, scrollReact() { this.atTop = (window.pageYOffset > 20) ? false : true } }"
                x-init="scrollReact()" @scroll.window.debounce.100ms="scrollReact()"
                :class="(menuOpen || !atTop) ? 'text-gray-800 bg-white shadow' : 'text-white'">

  <div class="container flex flex-wrap items-center justify-between w-full max-w-screen-xl py-2 mx-auto mt-0">

    <!-- Left side -->
    <div class="flex items-center pl-4">
      <a href="{{ path('homepage') }}" class="flex items-center flex-1 text-2xl font-bold no-underline hover:no-underline lg:text-4xl"
                                       :class="(menuOpen || !atTop) ? 'text-gray-800' : 'text-white'">
        {% include 'img/logo.svg' %}
        {% if record|default and record.title %}
          <p class="hidden sm:block">{{ config.get('general/sitename') }}</p>
        {% endif %}
      </a>
    </div>

    <!-- Right side -->
    <div class="flex pr-4 md:hidden">
      <button id="nav-toggle" @click="menuOpen = ! menuOpen" :class="menuOpen && 'open'">
        <span :class="(menuOpen || !atTop) ? 'gradient' : 'bg-white'"></span>
        <span :class="(menuOpen || !atTop) ? 'gradient' : 'bg-white'"></span>
        <span :class="(menuOpen || !atTop) ? 'gradient' : 'bg-white'"></span>
        <span :class="(menuOpen || !atTop) ? 'gradient' : 'bg-white'"></span>
      </button>
    </div>
    {{ menu('main', template='partials/_nav.twig') }}

  </div>
</header>
